@using Pierre.ViewModels
@model LoginViewModel

@{
    Layout = "_Layout";
}

<div class="container card">
    @if (User.Identity.IsAuthenticated)
    {
        <h4>Welcome @($"{User.Identity.Name}")!</h4>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input class="btn btn-warning" type="submit" class="btn btn-default" value="Log out" />
        }
    }
    else
    {
        <h4>Account Created</h4>
        @using (Html.BeginForm("Account", "Log in"))
        {
        @Html.ActionLink("Please Log In", "Login", "Account", null,  new {@class = "nav-link text-dark"})
        }
        
    }
</div> 
