@{
  Layout = "_Layout";
}
<div class="container card">
    <h1>Did you miss Pierre?</h1>

    <input class="btn btn-warning" type="button" value="Flavors" onclick='location.href="@Url.Action("Index", "Flavors")";' />
    <input class="btn btn-warning" type="button" value="Treats" onclick='location.href="@Url.Action("Index", "Treats")";' />
    <input class="btn btn-warning" type="button" value="Create an account" onclick='location.href="@Url.Action("Index", "Account")";' />
</div.