@{
  Layout = "_Layout";
}

<h1>Did you miss Pierre?</h1>

<p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p> 