@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<div class="container card">
    <h4>Add New Treat</h4>

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(model => model.TreatName)
        <br>
        @Html.DropDownList("FlavorId")
        @Html.Label("Select Flavor")
        <br>
        <input class="btn btn-warning" type="submit" value="Add" />
    }
    <br>
    <input class="btn btn-warning" type="button" value="Treats" onclick='location.href="@Url.Action("Index", "Treats")";' />
</div>