@{
  Layout = "_Layout";
}
@model List<Pierre.Models.Treat>;
  
<div class="container card">
    <h1>Delete all Treats?</h1>
    <hr>
    @using (Html.BeginForm())
    {
        <button class="btn btn-warning" type="submit" value="DeleteAll">YES</button>
    }
    <hr>
    <br>
    <input class="btn btn-warning" type="button" value="Treats" onclick='location.href="@Url.Action("Index", "Treats")";' />
    <input class="btn btn-warning" type="button" value="Home" onclick='location.href="@Url.Action("Index", "Home")";' />
</div>