div#footer {
  background-color: rgba(255, 255, 255, 0.644);
  font-family: 'Fredericka the Great', cursive;
  color: rgb(0, 0, 0);
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  text-align: center;
}

.nav {
  background-color: rgba(255, 255, 255, 0.555);
  color :rgb(0, 0, 0);
  font-size: large;
}

.btn {
  width: 180px; 
}

body {
  display: auto;
  background-image: url("https://img.wallpapersafari.com/desktop/1600/900/7/50/6jIB0k.jpg");
}

.card  {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 4in;
  align-items: center;
  position: center;
}

@media (min-width: 768px) {

}

.buttons {
  height: 00px;
  position: center;
  margin-left: 0.48in;
}

.splash {
  /* align-items: center;
  position: center; */
  /* height: 00px; */
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.63);
}

.splash1 {
  padding: 1%;
  border-radius: 5px;
  width: 50%;
  float: right;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.87);
}

.splash2 {
  padding: 1%;
  border-radius: 5px;
  width: 50%;
  float: right;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.87);
}
