@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor
<div class="container card">
    <h4>Add New Flavor</h4>
    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(model => model.FlavorName, new { @required = "required" })
        <input class="btn btn-warning" type="submit" value="ADD" />
    }
    <br>
    <input class="btn btn-warning" type="button" value="Flavors" onclick='location.href="@Url.Action("Index", "Flavors")";' />
</div>