@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor
<div class="container card">
    <h2>Delete This Flavor?</h2>

    Name: @Html.DisplayFor(model => model.FlavorName)
    @using (Html.BeginForm())
    {
        <input class="btn btn-warning" type="submit" value="Delete" />
    }
    <input class="btn btn-warning" type="button" value="Flavors" onclick='location.href="@Url.Action("Index", "Flavors")";' />
    <input class="btn btn-warning" type="button" value="Home" onclick='location.href="@Url.Action("Index", "Home")";' />
</div>